@import "shared/basic/assets/fonts/fonts.scss";
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


p, h1, h2, h3, h4, h5, h6, p, blockquote, pre, li {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all ease-out 0.1s;
}
a::before {
  content: '';
  display: block;
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 0;
  height: 5%;
  background-color: white;
  transition: width ease-out 0.1s;
}

/*a:hover {*/
/*  transform: scaleX(1.1);*/
/*  transition: all ease-out 0.1s;*/
/*}*/

a:hover::before {
  width: 100%;
  transition: width ease-out 0.1s;
}

